body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

}

.container {

    width: 80%;
    margin: 0 auto;
}

.last-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);
}
.content{background: linear-gradient(45deg,	#A9A9A9,#D3D3D3);}

header nav {

    display: flex;
    align-items: center;
    justify-content: center;
}

header nav ul {


    margin: 0;
    padding: 0;
    list-style-type: none;
}

header nav ul li {
    margin: 0 55px;
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    background-image: url('hero-bg.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;
    color: black;
}

.hero p {
    font-size: 24px;
    margin-bottom: 40px;
    color: black;
}

.hero button {
    padding: 10px 20px;
    font-size: 20px;
    background-color: #ff7f00;
    color: #fff;
    border: none;
    cursor: pointer;
}

.featured-restaurants {
    padding: 50px 0;
}

.restaurant {
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 40px;
    height: 300px;
    width: 300px;
    border: 0.2px solid black;
    box-shadow: 0 3px 15px rgba(0, 0, 0, 0.8);
}

.restaurant img {
    height: 50%;
    /* width: 100%; */
    max-width: 300px;
    height: auto;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}